asgiref==3.2.7
astroid==2.3.3
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
Django==3.0.14
facepy==1.0.12
fb==0.4.0
idna==2.9
isort==4.3.21
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pycparser==2.20
pylint==2.4.4
pytz==2019.3
PyYAML==5.3.1
requests==2.23.0
reverse==0.1.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
wrapt==1.11.2
